.carousel__container {
  // Position

  // block-model
  width: 100%;
  align-items: center;
  row-gap: 20px;
  // Typography

  // Decoration

  // Animation

  // Various

}

.carousel__wrapper {
  // Position

  // block-model
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  // Typography

  // Decoration

  // Animation

  // Various

  @include media-tablet-large {
    // Position

    // block-model

    // Typography

    // Decoration

    // Animation

    // Various
    
  }
}

.carousel__content-wrapper {
  // Position

  // block-model
  max-width: 1400px;
  row-gap: 35px;
  overflow: hidden;

  // Typography

  // Decoration

  // Animation
  @extend %transition-basic;

  // Various

  @include media-tablet-large {
    // Position

    // block-model
    max-width: 450px;
    // Typography

    // Decoration

    // Animation
    @extend %transition-basic;
    // Various
    
  }
}

.carousel__content {
  // Position

  // block-model
  gap: 25px;
  justify-content: flex-start;
  flex-wrap: nowrap;
  // Typography

  // Decoration
  transform: translateX(0);
  // Animation
  @extend %transition-basic;

  // Various

  @include media-tablet-large {
    // Position

    // block-model
    align-items: center;
    // Typography

    // Decoration

    // Animation

    // Various

  }
}

.carousel__content-icon {
  // Position

  // block-model
  display: none;

  // Typography

  // Decoration

  // Animation

  // Various
  @include media-tablet-large {
    // Position

    // block-model
    display: flex;
    justify-content: center;
    padding: 17px;
    // Typography

    // Decoration

    // Animation

    // Various
  }
}

.carousel__content-icon_position {
  // Position

  // block-model

  // Typography

  // Decoration

  // Animation

  // Various
  @include media-tablet-large {
    // Position

    // block-model
    margin-top: 40px;
    // Typography

    // Decoration

    // Animation

    // Various
  }
}

.carousel__slider-arrow {
  // Position

  // block-model

  // Typography

  // Decoration
  @extend %cursor-pointer;
  // Animation
  @extend %transition-basic;

  // Various
  &:hover > path, &:active > path {
    @extend %transition-basic;
    stroke: $color-interactive;
  }
}

.carousel__image {
  // Position

  // block-model
  width: calc(450px / $content-width-desktop * 100%);
  // Typography

  // Decoration

  // Animation

  // Various
  
  @include media-tablet-large {
    // Position

    // block-model
    width: initial;
    // Typography

    // Decoration

    // Animation

    // Various
  }
}

.carousel__buttons-container {
  // Position

  // block-model
  // width: 78px;
  height: 26px;
  align-self: center;
  // Typography

  // Decoration

  // Animation

  // Various
  & > :nth-child(n + 4) {
    display: none;
  }

  @include media-tablet-large {
    & > :nth-child(n + 4) {
      display: flex;
    }
  }
}

.carousel__button {
  // Position

  // block-model
  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center;
  // Typography

  // Decoration
  background-color: transparent;
  @extend %cursor-pointer;
  // Animation

  // Various
  
}

.carousel__button_active {
  // Position

  // block-model

  // Typography

  // Decoration
  @extend %pointer-events-disable;

  // Animation

  // Various

}

.carousel__button-inner {
  // Position

  // block-model
  width: 16px;
  height: 16px;
  // Typography

  // Decoration
  background-color: $color-dark;
  border-radius: 50%;
  // Animation
  @extend %transition-basic;
  // Various
  &:hover {
    background-color: $color-interactive; 
    @extend %transition-basic;

  }
}

.carousel__button-inner_active {
  // Position

  // block-model

  // Typography

  // Decoration
  background-color: $color-interactive;
  @extend %pointer-events-disable;

  // Animation

  // Various

}

.carousel__content-icon_disabled {
  // Position

  // block-model

  // Typography

  // Decoration
  @extend %pointer-events-disable;
  // Animation

  // Various
  svg > path {
    stroke: $color-modal;
  }
}